extends ../partials/head
block content
  .all-wrapper
    .all-inner-wrapper
      img.tester-landing-background(src="/res/images/tester/background.png" alt="usersmagic tester, the easiest way of making money")
      .tester-landing-transparent-wrapper
        .tester-landing-header
          img.tester-landing-logo(src="/res/images/logo/white.png" alt="usersmagic logo, easiest way of makin money")
          a.tester-go-company-button(href="/company") Şirket sayfası
        span.tester-landing-above-title Tester ol
        span.tester-landing-title Anket doldurarak
        span.tester-landing-title para kazanın
        span.tester-landing-subtitle(style="margin-top: 30px") Tester olmak, fikirlerinizi ekstraya dönüştürmenize yardımcı olabilir.
        span.tester-landing-subtitle kullanabileceğiniz ve sevebileceğiniz harika ürünlere gelir ve destek sağlar.
        span.tester-landing-subtitle-responsive Tester olmak, fikirlerinizi ek gelire dönüştürmenize ve kullanabileceğiniz ve sevebileceğiniz harika ürünleri desteklemenize yardımcı olabilir.
        a.tester-join-waitlist-button(href="https://tester.usersmagic.com/auth/register" target="_blank") Bekleme listesine katıl
        .tester-login-button
          span Hesabınız var mı?
          a(href="https://tester.usersmagic.com/auth/login" target="_blank") Oturum aç
      .tester-brand-wrapper
        img.each-brand(src="/res/images/tester/logos/clay.png" alt="usersmagic clay")
        img.each-brand(src="/res/images/tester/logos/varan.png" alt="usersmagic varan")
        img.each-brand(src="/res/images/tester/logos/nike.png" alt="usersmagic nike")
        img.each-brand(src="/res/images/tester/logos/teknosa.png" alt="usersmagic teknosa")
        img.each-brand(src="/res/images/tester/logos/marketyo.png" alt="usersmagic marketyo")
      .tester-landing-wrapper
        .each-tester-point-wrapper
          .each-tester-point-icon
            i.far.fa-user
          .each-tester-point-info
            span.each-tester-point-title Hesap oluşturun
            span.each-tester-point-text Bekleme listesine katılın ve öncelik kazanmak için bazı anketleri doldurun. İçeri girdiğinizde bir e-posta alacaksınız.
        .each-tester-point-wrapper(style="margin: 0px 40px")
          .each-tester-point-icon
            i.fas.fa-mobile-alt
          .each-tester-point-info
            span.each-tester-point-title Soruları cevaplayın
            span.each-tester-point-text Tek yapmanız gereken, belirli uygulamalar ve web siteleri hakkında ne düşündüğünüzle ilgili bazı soruları yanıtlamak.
        .each-tester-point-wrapper
          .each-tester-point-icon
            i.far.fa-smile
          .each-tester-point-info
            span.each-tester-point-title Para kazanın
            span.each-tester-point-text Cevaplarınız kabul edilir edilmez size ödeme yapacağız. Papara üzerinden ödeme alacaksınız.
  