
hr {
  width: 80%;
  margin-left: 10%;
}

.all-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(254, 254, 254);
    display: flex;
    flex-direction: column;
  }
  
  .all-header {
    width: 100vw;
    height: 80px;
    min-height: 80px;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(254, 254, 254);
    border-bottom: 1px solid transparent;
  }
  .all-header-content {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .all-header-logo {
    height: 30px;
    width: auto;
    margin-right: 15px;
  }
  .all-header-logo-text {
    color: rgb(3, 17, 73);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .all-header-each-button {
    color: rgb(24, 25, 31);
    font-weight: 700;
    font-size: 14px;
    margin: 0px 10px;
    text-decoration: none;
  }
  .all-header-login-button {
    color: rgb(3, 17, 73);
    font-weight: 700;
    font-size: 14px;
    margin-right: 15px;
    text-decoration: none;
  }
  .all-header-each-button:hover, .all-header-login-button:hover {
    text-decoration: underline;
  }
  .all-header-register-button {
    color: rgb(254, 254, 254);
    font-weight: 700;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(46, 197, 206);
    text-decoration: none;
  }
  .all-header-register-button:hover {
    box-shadow: 0 0 10px rgb(236, 236, 236);
  }
  
  .all-inner-wrapper {
    width: 100vw;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .all-inner-wrapper-content {
    height: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .start-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 100px;
  }
  .start-title {
    color: rgb(3, 17, 73);
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
  }

  .contents-titles {
    margin: 60px auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .each-content-title {
    color: rgb(46,197,206);
    font: 600 14px helvetica;
    margin-right: 50px;
  }

  .case-studies-header {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .case-studies-view-all-span {
    color: rgb(46, 197, 206);
    font: 900 14px helvetica;
    cursor: pointer;
  }

  .case-studies-view-all-span:hover {
    text-decoration: underline;
  }

  .case-studies-header-title {
    color: rgb(3, 17, 73);
    font: 600 18px helvetica;
  }

  .case-studies-content{
    width: 84%;
    max-height: 240px;
    margin: 30px 0 0 8%;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 200px;
    padding: 0 2%;
  }

  .each-case-study-wrapper {
    width: 231px;
    height: 199px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px  rgb(151,226,231,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-right: auto;
    border: 1px solid rgb(46, 197, 206, 0.1);
  }

  .each-case-study-wrapper img {
    max-width: 100px;
    margin: 10px 0 0 0;
  }

  .case-study-company-name {
    font: 600 24px helvetica;
    margin-bottom: 10px;
  }

  .case-study-company-industry {
    font: 600 10px helvetica;
    width: 100px;
    padding: 5px 3px;
    border-radius: 10px;
    background-color: rgb(151,226,231);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .increase-height-animation {
    animation: increaseHeightAnimation 2s ease-in-out 0s 1 forwards;
  }
  
  .revert-height-animation {
    animation: revertHeightAnimation 0.3s ease-in-out 0s 1 forwards;
  }


  @keyframes increaseHeightAnimation {
    from {
      max-height: 240px;
    } 
    to {
      max-height: 500%;
    }
  }

  @keyframes revertHeightAnimation {
    from {
      max-height: fit-content;
      min-height: 480px;
    } 
    to {
      max-height: 0;
      min-height: 240px;
    }
  }

  @media only screen and (max-width: 1020px) and (min-width: 880px) {
    .start-title {
      font-size: 60px;
    }
  }

  @media only screen and (max-width: 880px) and (min-width: 720px) {
    .start-title {
      font-size: 50px;
    }
    .contents-titles {
      padding-left: 50px;
    }
  }

  @media only screen and (max-width: 720px) and (min-width: 565px) {
    .start-content-wrapper {
      padding-top: 25px;
    }
    .start-title {
      font-size: 40px;
    }
    .contents-titles {
      padding-left: 50px;
      width: max-content;
      margin-top: 10px;
    }
    .each-content-title {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 565px) and (min-width: 420px) {
    .start-content-wrapper {
      padding-top: 25px;
    }
    .start-title {
      font-size: 30px;
    }
    .contents-titles {
      padding-left: 20px;
      width: max-content;
      margin-top: 10px;
    }
    .each-content-title {
      font-size: 10px;
      margin-right: 20px;
    }
  }


  @media only screen and (max-width: 420px) and (min-width: 300px) {

    .start-title {
      font-size: 18px;
      font-weight: 800;
      line-height: 16px;
    }
    .start-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      padding-top: 30px;
    }
    .each-content-title {
      color: rgb(46,197,206);
      font: 600 8px helvetica;
      margin-right: 20px;
      width: 100px;
    } 
    .contents-titles {
      width: 100%;
      margin: 40px 0 0 0;
      display: flex;
      justify-content: center;
      padding-left: 10%;
    }
    .case-studies-view-all-span {
      display: none;
    }
    .case-studies-content {
      width: 83%;
      max-height: 100px;
      min-height: min-content;
      margin: 10px 0 100px 8%;
      display: inline-flexbox;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-bottom: 100px;
      padding: 0 1%;
    }

    .each-case-study-wrapper {
      min-width: 100px;
      height: 86px;
      border-radius: 5px;
      box-shadow: 0 0 5px 5px  rgb(151,226,231,0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 5px;
      cursor: pointer;
      margin-bottom: 50px;
      margin-right: 25px;
    }
    .each-case-study-wrapper img {
      max-width: 50px;
      margin: 10px 0 0 0;
    }
    .case-study-company-name {
      font: 600 14px helvetica;
      margin-bottom: 5px;
    }
  
    .case-study-company-industry {
      font: 600 4px helvetica;
      width: 50px;
      padding: 2px 3px;
      border-radius: 10px;
      background-color: rgb(151,226,231);
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    .case-studies-header {
      width: 80%;
      margin-left: 10%;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .case-studies-header-title {
      font-size: 12px;
    }
  }