.all-inner-wrapper-content {
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.start-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 100px;
}
.start-title {
  color: rgb(3, 17, 73);
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
}
.start-text {
  margin-top: 30px;
  width: 675px;
  color: rgb(3, 17, 73);
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
.start-button {
  margin-top: 40px;
  color: rgb(254, 254, 254);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 15px;
  background-color: rgb(46, 197, 206);
  box-shadow: 0 0 20px rgb(210, 210, 210);
}
.start-button:hover {
  box-shadow: 0 0 20px rgb(200, 200, 200);
}

.inside-product-outer-wrapper {
  margin-top: 100px;
  width: 100vw;
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.inside-product-wrapper-background {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inside-product-background-image {
  width: 200px;
}
.inside-product-background-circle {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: rgba(46, 197, 206, 0.5);
  margin-left: auto;
  margin-top: 100px;
}
.inside-product-gif {
  margin-top: -600px;
  width: 800px;
  height: auto;
  filter: drop-shadow(0px 25.227px 50.454px rgba(0, 0, 0, 0.13));
  background-color: rgb(254, 254, 254);
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
}

.logo-above-text {
  margin-top: 140px;
  align-self: center;
  width: 650px;
  color: rgb(3, 17, 73);
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
}
.logo-wrapper {
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.each-logo {
  margin: 0px 40px;
}

.info-content-subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 60px;
  color: rgb(254, 211, 85);
}
.info-content-title {
  font-weight: 800;
  font-size: 43px;
  line-height: 60px;
  color: rgb(3, 17, 73);
}
.info-content-text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgb(3, 17, 73);
}
.seablue-button {
  margin-top: 40px;
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: rgb(46, 197, 206);
  box-shadow: 0 0 20px rgb(210, 210, 210);
}
.seablue-button:hover {
  box-shadow: 0 0 20px rgb(200, 200, 200);
}

.target-users-wrapper {
  margin-top: 200px;
  display: flex;
  width: 100%;
  padding-left: 150px;
}

.target-users-left-wrapper {
  flex: 2;
  width: 45%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
}

.target-users-right-wrapper {
  flex: 3;
  max-width: 55%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.target-users-details-wrapper {
  z-index: 3;
  margin-left: auto;
  margin-right: 150px;
  width: 520px;
  height: 315px;
  padding: 30px 40px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.target-users-details-header-wrapper {
  display: flex;
  align-items: flex-start;
}
.target-users-details-content-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.target-users-details-content-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: rgb(3, 17, 73);
}
.target-users-details-content-text {
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.target-users-details-content-wrapper {
  margin-top: 30px;
  display: flex;
}
.target-users-details-content-left-column {
  flex: 1;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
.target-users-details-content-right-column {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.each-target-users-info-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.each-target-users-info-item span {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: rgb(3, 17, 73);
}

.target-users-background-circle {
  z-index: 2;
  margin-top: -50px;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(218, 196, 174);
}

.target-users-list-wrapper {
  margin-top: -100px;
  margin-left: 200px;
  margin-right: 150px;
  width: calc(100% - 200px);
  max-width: calc(100% - 200px);
  height: 210px;
  padding: 20px 40px;
  padding-left: 0px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.target-users-list-space-wrapper {
  margin-left: 30px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.target-users-list-inner-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  min-width: fit-content;
}
.target-users-list-header {
  margin-bottom: 5px;
  flex: 1;
  padding-left: 35px;
  display: flex;
  align-items: center;
}
.target-users-list-header span {
  margin-left: 5px;
  width: 125px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: rgba(3, 17, 73, 0.5);
}
.each-target-user {
  padding: 5px 0px;
  padding-left: 10px;
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.each-target-user:hover {
  background-color: rgb(236, 236, 236);
}
.each-target-user img {
  width: 25px;
  height: 25px;
}
.each-target-user span {
  margin-left: 5px;
  width: 125px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgb(3, 17, 73);
}

.responses-wrapper {
  margin-top: 200px;
  display: flex;
  width: 100%;
  padding-right: 150px;
  padding-left: 100px;
}

.responses-left-wrapper {
  flex: 3;
  max-width: 55%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.emma-user-details-wrapper {
  z-index: 10;
  position: absolute;
  width: 520px;
  height: 315px;
  padding: 30px 40px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.responses-questions-wrapper {
  z-index: 2;
  margin-left: 32px;
  width: 260px;
  height: 215px;
  padding: 25px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.responses-questions-person-wrapper {
  display: flex;
  margin-bottom: 15px;
}
.responses-questions-person-image {
  margin-right: 15px;
  width: 34px;
  height: 34px;
}
.responses-questions-person-details {
  display: flex;
  flex-direction: column;
}
.responses-questions-person-title {
  font-weight: 800;
  font-size: 14px;
  color: rgb(3, 17, 73);
  margin-bottom: 2px;
  margin-top: -2px;
}
.responses-questions-person-details-button {
  font-weight: 500;
  font-size: 10px;
  color: rgb(46, 197, 206);
  cursor: pointer;
}
.responses-questions-person-details-button:hover {
  text-decoration: underline;
}
.each-response-question-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: rgb(3, 17, 73);
}
.each-response-question-answer {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

.responses-green-background-circle {
  z-index: 1;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: rgb(53, 235, 147);
}

.responses-histogram-wrapper {
  z-index: 3;
  margin-top: -110px;
  margin-left: 120px;
  width: 328px;
  height: 256px;
  padding: 25px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.responses-histogram-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.responses-histogram-subtitle span {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgb(38, 50, 56);
}
.responses-historam-title-outer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}
.responses-histogram-title-wrapper {
  display: flex;
  align-items: center;
}
.responses-histogram-title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: rgb(3, 17, 73);
}
.responses-histogram-title-text {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.25px;
  color: rgb(46, 197, 206);
  margin-left: 5px;
}
.responses-histogram-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.responses-histogram-columns-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 130px;
  margin-top: 20px;
}
.responses-histogram-each-column {
  margin-top: auto;
  background-color: rgb(226, 226, 226);
  width: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.responses-histogram-each-column-blue {
  background-color: rgba(46, 197, 206, 0.5) !important;
}
.responses-histogram-each-column span {
  color: rgb(119, 119, 119);
  font-weight: 400;
  font-size: 11px;
  margin-bottom: 3px;
}
.responses-histogram-each-column-space {
  height: 100%;
  width: 3px;
}
.responses-histogram-bottom-line-wrapper {
  margin-top: 5px;
  width: 235px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.responses-histogram-each-number {
  font-weight: 700;
  font-size: 11px;
  color: rgb(254, 211, 85);
}

.responses-yellow-background-circle {
  z-index: 1;
  margin-top: -86px;
  width: 172px;
  height: 172px;
  border-radius: 86px;
  background-color: rgb(254, 211, 85);
  margin-left: 370px;
}

.responses-right-wrapper {
  flex: 2;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.templates-wrapper {
  margin-top: 200px;
  display: flex;
  width: 100%;
  padding: 0px 150px;
}

.templates-left-wrapper {
  flex: 1;
  width: 50%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.templates-right-wrapper {
  flex: 1;
  max-width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.interactive-screen-wrapper {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interactive-screen-background-wrapper {
  height: 900px;
  width: 100%;
}
.interactive-screen-background-yellow {
  z-index: 1;
  height: 900px;
  width: 100%;
  background-color: rgb(254, 211, 85);
}
.interactive-screen-background-blue {
  z-index: 2;
  height: 900px;
  margin-top: -900px;
  width: 100%;
  background-color: rgb(46, 197, 206);
}
.interactive-screen-background-dark-blue {
  z-index: 3;
  height: 900px;
  margin-top: -900px;
  width: 100%;
  background-color: rgb(3, 17, 73);
}

.interacive-screen-content-wrapper {
  z-index: 4;
  height: 900px;
  width: 100%;
  background-color: transparent;
  margin-top: -900px;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interactive-screen-title {
  font-weight: 800;
  font-size: 72px;
  line-height: 60px;
  color: rgb(254, 254, 254);
}

.interactive-change-page-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.interactive-change-page-buttons-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
}
.interactive-change-page-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
  width: 200px;
  cursor: pointer;
}
.interactive-change-page-button span {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
  color: rgb(254, 254, 254);
}

.interactive-button-border-line-wrapper {
  display: flex;
  margin-top: 10px;
}
.interactive-button-border-line {
  margin-left: 30px;
  width: 200px;
  height: 2px;
  background-color: rgb(254, 254, 254);
}

.inside-product-wrapper {
  margin-top: 50px;
}

.opacity-decrease-animation-class {
  animation: opacityDecrease 1s ease 0s 1 forwards;
  -webkit-animation: opacityDecrease 1s ease 0s 1 forwards;
}

@keyframes opacityDecrease {
  from {
		opacity: 100%;
	}
	to {
    opacity: 0%;
	}
}
@-webkit-keyframes opacityDecrease {
  from {
		opacity: 100%;
	}
	to {
    opacity: 0%;
	}
}

.opacity-increase-animation-class {
  animation: opacityIncrease 1s ease 0s 1 forwards;
  -webkit-animation: opacityIncrease 1s ease 0s 1 forwards;
}

@keyframes opacityIncrease {
  from {
		opacity: 0%;
	}
	to {
    opacity: 100%;
	}
}
@-webkit-keyframes opacityIncrease {
  from {
		opacity: 0%;
	}
	to {
    opacity: 100%;
	}
}

.video-call-wrapper {
  margin-top: 200px;
  display: flex;
  width: 100%;
  padding-left: 150px;
}

.video-call-left-wrapper {
  flex: 2;
  width: 50%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-call-right-wrapper {
  flex: 2;
  max-width: 50%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-call-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.video-call-title {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: rgb(254, 211, 85);
}
.beta-text {
  margin-left: 15px;
  background-color: rgba(176, 190, 197, 0.32);
  font-weight: 700;
  font-size: 16px;
  color: rgb(95, 99, 105);
  width: 77px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-call-main-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 48px;
  color: rgb(3, 17, 73);
}
.video-call-text {
  font-weight: 400;
  font-size: 18px;
  color: rgb(3, 17, 73);
  line-height: 32px;
}

.video-call-image {
  z-index: 2;
  margin-left: 22px;
}

.video-call-brown-circle {
  background-color: rgb(218, 196, 174);
  width: 66px;
  height: 66px;
  border-radius: 33px;
  margin-top: -44px;
}

.video-call-users-wrapper {
  margin-top: -60px;
  margin-left: 200px;
  margin-right: 150px;
  width: calc(100% - 200px);
  max-width: calc(100% - 200px);
  height: 210px;
  padding: 20px 40px;
  padding-left: 0px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
}
.video-call-users-list-space-wrapper {
  margin-left: 30px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.video-call-users-list-inner-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  min-width: fit-content;
}
.video-call-users-list-header {
  margin-bottom: 5px;
  flex: 1;
  padding-left: 160px;
  display: flex;
  align-items: center;
}
.video-call-users-list-header span {
  margin-left: 5px;
  width: 125px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: rgba(3, 17, 73, 0.5);
}
.each-video-call-user {
  padding: 5px 0px;
  padding-left: 10px;
  flex: 1;
  display: flex;
  align-items: center;
}
.each-video-call-user:hover {
  background-color: rgb(236, 236, 236);
}
.schedule-call-button {
  line-height: 0px;
  margin-top: -1px;
  background-color: rgb(254, 211, 85);
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 10px;
  height: 24px;
  width: 110px;
  margin-right: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}
.schedule-call-button-responsive {
  line-height: 0px;
  margin-top: -1px;
  background-color: rgb(254, 211, 85);
  color: rgb(254, 254, 254);
  font-weight: 700;
  font-size: 10px;
  height: 24px;
  width: 110px;
  margin-right: 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  display: none;
}
.each-video-call-user img {
  width: 25px;
  height: 25px;
}
.each-video-call-user span {
  margin-left: 5px;
  width: 125px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgb(3, 17, 73);
}

.user-quotes-wrapper {
  width: 100%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.user-quotes-subtitle {
  margin-left: 150px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: rgb(254, 211, 85);
}
.user-quotes-title {
  margin-left: 150px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 48px;
  color: rgb(3, 17, 73);
}
.user-quotes-slider {
  width: 100%;
  height: 290px;
  padding-top: 15px;
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
}
.each-user-quote {
  margin-left: 150px;
  width: 600px;
  min-width: 600px;
  height: 225px;
  background-color: rgb(254, 254, 254);
  box-shadow: 0px 14px 34px rgba(134, 174, 181, 0.25);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.each-user-quote-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: rgb(3, 17, 73);
  width: 100%;
  text-align: center;
  align-items: center;
}
.blue-quote-text {
  color: rgb(46, 197, 206) !important;
}
.each-user-quote-person-wrapper  {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.each-user-quote-person-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.each-user-quote-person-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: rgba(3, 17, 73, 0.7);
}
.each-user-quote-person-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: rgba(3, 17, 73, 0.4);
}
.each-user-quote-person-image {
  width: 64px;
  height: 64px;
  margin-left: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  align-self: center;
  width: calc(100vw - 200px);
  height: 300px;
  padding-bottom: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-logo {
  margin-top: 50px;
  margin-left: 100px;
}
.footer-links-wrapper {
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.each-footer-link {
  font-weight: 400;
  font-size: 16px;
  color: rgb(3, 17, 73);
  margin-right: 50px;
  text-decoration: none;
}
.each-footer-link:hover {
  text-decoration: underline;
}
.copyright-text {
  font-weight: 300;
  color: rgba(3, 17, 73, 0.5);
  letter-spacing: 1%;
  justify-self: flex-end;
  margin-left: auto;
  margin-top: auto;
  margin-right: 50px;
}

@media only screen and (max-width: 1100px) and (min-width: 900px) {
  .logo-wrapper {
    margin-top: 40px;
    padding: 0px 55px;
  }
  .inside-product-background-circle {
    margin-right: -100px;
  }
  .inside-product-background-image {
    margin-left: -50px;
  }
  .responses-wrapper {
    flex-direction: column-reverse;
  }
  .responses-right-wrapper {
    width: 100%;
    margin-bottom: 100px;
  }
  .responses-left-wrapper {
    margin-left: 120px;
  }
  .templates-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .templates-left-wrapper {
    width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 900px) and (min-width: 450px) {
  .logo-wrapper {
    margin-top: 30px;
    padding: 0px 30px;
  }
  .each-logo {
    margin: 0px 20px;
    width: 50px;
  }
  .inside-product-background-image {
    width: 100px;
    margin-left: 50px;
  }
  .inside-product-outer-wrapper {
    width: 100%;
    margin-top: 100px;
    padding: 0px 10px;
    margin-bottom: 50px;
  }
  .inside-product-gif {
    width: 700px;
    margin-top: -500px;
  }
  .inside-product-wrapper-background {
    width: 100%;
    height: 600px;
  }
  .inside-product-background-circle {
    width: 100px;
    height: 100px;
    margin-top: 280px;
    margin-bottom: 10px;
    margin-right: 5%;
  }
  .logo-above-text {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .target-users-wrapper {
    flex-wrap: wrap;
  }
  .target-users-details-wrapper {
    margin-top: 100px;
  }
  .target-users-right-wrapper {
    width: 100%;
  }
  .target-users-list-wrapper {
    margin-top: -50px;
    margin-left: 300px;
    width: 100%;
    max-width: 100%;
    padding: 10px 40px;
    padding-left: 0;
  }
  .responses-wrapper {
    flex-direction: column-reverse;
  }
  .responses-right-wrapper {
    width: 100%;
    margin-bottom: 100px;
  }
  .templates-wrapper {
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .templates-left-wrapper {
    width: 100%;
  }
  .video-call-wrapper {
    width: 100%;
    flex-direction: column;
    padding-left: 50px;
  }
  .video-call-left-wrapper {
    width: 80%;
    margin-bottom: 100px;
  }
  .video-call-right-wrapper {
    width: 100%;
  }
  .video-call-users-wrapper {
    width: 120%;
    max-width: 120%;
    margin-right: 0;
    margin-left: 300px;
  }
}


@media only screen and (max-width: 800px) and (min-width: 450px) {
  .start-title {
    font-size: 50px;
    line-height: 70px;
  }
  .start-text {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.25px;
    padding: 0px 50px;
    margin-top: 20px;
    width: 100%;
  }
  .start-button {
    font-size: 16px;
    padding: 15px 40px;
  }
  .interactive-screen-wrapper {
    display: none;
  }
  .inside-product-background-image {
    width: 100px;
    margin-left: 50px;
  }
  .inside-product-outer-wrapper {
    width: 100%;
    margin-top: 100px;
    padding: 0px 10px;
    margin-bottom: 50px;
  }
  .inside-product-gif {
    width: 500px;
    margin-top: -500px;
  }
  .inside-product-wrapper-background {
    width: 100%;
    height: 600px;
  }
  .inside-product-background-circle {
    width: 100px;
    height: 100px;
    margin-top: 180px;
    margin-bottom: 10px;
    margin-right: 10%;
  }
  .logo-above-text {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .target-users-wrapper {
    flex-wrap: wrap;
    padding-left: 50px;
  }
  .target-users-details-wrapper {
    margin-top: 100px;
  }
  .target-users-right-wrapper {
    width: 100%;
  }
  .target-users-list-wrapper {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) and (min-width: 450px) {
  .footer-wrapper {
    width: 100%;
    height: 200px;
    margin-top: 50px;
  }
  .footer-logo {
    width: 84px;
    margin: 30px 20px;
    margin-bottom: 10px;
  }
  .copyright-text {
    display: none;
  }
  .footer-links-wrapper {
    margin: 30px 20px;
  }
  .each-footer-link {
    font-size: 12px;
    line-height: 10px;
    width: 100px;
    margin-right: 10px;
  }
  .each-logo {
    width: 50px;
    margin: 0px 10px;
  }
  .inside-product-wrapper {
    width: 400px !important;
  }
  .start-content-wrapper {
    padding-top: 50px;
  }
  .start-title {
    font-size: 40px;
    line-height: 50px;
  }
  .start-button {
    font-size: 15px;
    padding: 15px 35px;
  }
  .inside-product-background-image {
    width: 50px;
    margin-left: 20px;
  }
  .inside-product-outer-wrapper {
    width: 100%;
    margin-top: 100px;
    padding: 0px 10px;
    margin-bottom: 50px;
  }
  .inside-product-gif {
    width: 400px;
    margin-top: -500px;
  }
  .inside-product-wrapper-background {
    width: 100%;
    height: 560px;
  }
  .inside-product-background-circle {
    width: 100px;
    height: 100px;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-right: 2%;
  }
  .logo-above-text {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .target-users-wrapper {
    flex-wrap: wrap;
    padding-left: 30px;
  }
  .target-users-details-wrapper {
    margin-top: 100px;
  }
  .target-users-right-wrapper {
    width: 100%;
  }
  .target-users-list-wrapper {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .responses-wrapper {
    width: 100%;
    padding-left: 30px;
  }
  .target-users-wrapper {
    flex-wrap: wrap;
    padding-left: 30px;
  }
  .target-users-details-wrapper {
    margin-top: 100px;
    width: 450px;
  }
  .target-users-right-wrapper {
    width: 100%;
  }
  .target-users-list-wrapper {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-left: 220px;
  }
  .video-call-right-wrapper {
    margin-left: -20px;
  }
  .video-call-users-wrapper {
    width: 120%;
    max-width: 120%;
    margin-left: 250px;
  }
  .user-quotes-subtitle {
    margin-left: 20px;
  }
  .user-quotes-title {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 450px) and (min-width: 300px) {
  .start-content-wrapper {
    padding-top: 40px;
  }
  .start-title {
    font-size: 24px;
    line-height: 35px;
  }
  .start-button {
    font-size: 10px;
    font-weight: bold;
    padding: 15px 20px;
  }
  .start-text {
    width: 310px;
    padding: 0 8px;
    font-size: 10px;
    line-height: 18px;
    font-weight: bold;
  }
  .inside-product-background-image {
    display: none;
  }
  .inside-product-outer-wrapper {
    width: 100%;
    margin-top: 100px;
    padding: 0px 10px;
    margin-bottom: 50px;
  }
  .inside-product-gif {
    width: 300px;
    margin-top: -200px;
  }
  .inside-product-wrapper-background {
    width: 100%;
  }
  .inside-product-background-circle {
    width: 37px;
    height: 37px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 3%;
  }
  .logo-above-text {
    margin-top: 10px;
    font-size: 10px;
    line-height: 20px;
    width: 300px;
  }
  .logo-wrapper {
    margin-top: 10px;
  }
  .interactive-screen-wrapper {
    display: none;
  }
  .target-users-wrapper {
    margin-top: 100px;
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .target-users-left-wrapper {
    width: 100%;
    margin-bottom: 100px;
  }
  .info-content-subtitle {
    font-size: 10px;
    width: 90%;
    line-height: 30px;
  }
  .info-content-title {
    font-size: 18px;
    line-height: 25px;
    width: 60%;
  }
  .info-content-text {
    font-size: 10px;
    line-height: 20px;
    width: 90%;
  }
  .seablue-button {
    font-size: 10px;
    padding: 10px 10px;
    margin-top: 25px;
  }
  .target-users-right-wrapper {
    flex: 3;
    max-width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .target-users-details-wrapper {
    width: 90%;
    height: 200px;
    padding: 20px 20px;
  }
  .target-users-details-image {
    width: 50px;
    height: 50px;
  }
  .target-users-details-content-title {
    font-size: 12px;
    line-height: 30px;
  } 
  .target-users-details-content-text {
    font-size: 6px;
    line-height: 10px;
    margin-top: 0;
  }
  .each-target-users-info-item span {
    margin-left: 5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 15px;
    color: rgb(3, 17, 73);
  }
  .each-target-users-info-item svg {
    width: 10px;
    height: 8px;
  }
  .target-users-details-content-wrapper {
    margin-top: 10px;
  }
  .target-users-background-circle {
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(218, 196, 174);
    margin-left: -10px;
  }
  .target-users-list-wrapper {
    margin-top: -50px;
    margin-left: 75px;
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px 40px;
    padding-left: 0;
  }
  .target-users-list-header {
    height: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
    flex: 1;
    padding-left: 35px;
  }
  .target-users-list-header span {
    font-size: 8px;
    line-height: 10px;
    width: 50px;
    margin-left: 5px;
  }
  .each-target-user {
    height: 15px;
    padding-left: 5px;
  }
  .each-target-user img {
    width: 10px;
    height: 10px;
  }
  .each-target-user span {
    font-size: 6px;
    line-height: 15px;
    margin-left: 0;
    width: 60px;
    line-height: 8px;
  }
  .responses-wrapper {
    margin-top: 100px;
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 20px;
    width: 100%;
  }
  .responses-right-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }
  .responses-left-wrapper {
    width: 100%;
  }
  .responses-questions-wrapper {
    margin-left: 0;
    width: 153px;
    height: 132px;
    padding: 10px;
  }
  .responses-questions-person-image {
    width: 20px;
    height: 20px;
  }
  .responses-questions-person-title {
    font-size: 10px;
    line-height: 10px;
  }
  .responses-questions-person-details-button {
    font-size: 6px;
    line-height: 10px;
  }
  .responses-questions-person-wrapper {
    align-items: center;
    margin-bottom: 5px;
  }
  .responses-green-background-circle {
    margin-top: -30px;
    margin-left: 90px;
  }
  .responses-yellow-background-circle {
    display: none;
  }
  .each-response-question-title {
    font-size: 7px;
    line-height: 15px;
  }
  .each-response-question-answer {
    font-size: 6px;
    line-height: 15px;
    margin-bottom: 1px;
  }
  .responses-histogram-wrapper {
    width: 200px;
    height: 164px;
  }
  .responses-histogram-subtitle span {
    font-size: 7px;
  }
  .responses-histogram-title-wrapper span {
    font-size: 12px;
  }
  .responses-histogram-inner-wrapper {
    width: 150px;
    height: 80px;
  }
  .responses-histogram-columns-wrapper {
    width: 100%;
    height: 100%;
  }
  .responses-histogram-each-column span {
    font-size: 8px;
  }
  .responses-histogram-bottom-line-wrapper {
    width: 92%;
  }
  .emma-user-details-wrapper {
    width: 300px;
    height: 180px;
    padding: 10px;
    margin-left: -20%;
    margin-top: -20px;
  }
  .templates-wrapper {
    width: 100%;
    margin-top: 40px;
    flex-direction: column;
    padding: 0 30px;
  }
  .templates-left-wrapper {
    width: 100%;
  }
  .video-call-wrapper {
    width: 100%;
    margin-top: 100px;
    padding: 0 20px;
    padding-left: 20px;
    flex-direction: column;
  }
  .video-call-left-wrapper {
    width: 100%;
  }
  .video-call-title {
    font-size: 10px;
    line-height: 30px;
  }
  .video-call-title-wrapper {
    margin-bottom: 10px;
  }
  .video-call-main-title {
    font-size: 18px;
    line-height: 25px;
  }
  .video-call-text {
    font-size: 10px;
    line-height: 20px;
  }
  .beta-text {
    font-size: 6px;
    line-height: 30px;
    margin-left: 5px;
    width: 35px;
    height: 14px;
  }
  .video-call-right-wrapper {
    margin-top: 50px;
    max-width: 100%;
    margin-left: -10px;
  }
  .video-call-image {
    width: 75%;
    margin-left: 5px;
  }
  .video-call-brown-circle {
    width: 30px;
    height: 30px;
    margin-top: -24px;
  }
  .video-call-users-wrapper {
    width: 250px;
    height: 120px;
    margin-top: -20px;
    margin-left: 75px;
    margin-right: 20px;
    width: 100%;
    max-width: 100%;
    padding: 5px 40px;
    padding-left: 0px;
  }
  .video-call-users-list-space-wrapper {
    margin-left: 10px;
  }
  .video-call-users-list-inner-wrapper {
    height: 100%;
  }
  .video-call-users-list-header {
    padding-left: 90px;
  }
  .video-call-users-list-header span {
    font-size: 8px;
    line-height: 15px;
    width: 25px;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .schedule-call-button {
    display: none;
  }
  .schedule-call-button-responsive {
    width: 40px;
    height: 10px;
    font-size: 5px;
    line-height: 0px;
    margin-top: -1px;
    margin-right: 20px;
    display: flex;
  }
  .each-video-call-user {
    height: 15px;
  }
  .each-video-call-user span {
    font-size: 6px;
    line-height: 15px;
    margin-left: 5px;
    width: 50px;
  }
  .each-video-call-user img {
    width: 10px;
    height: 10px;
  }
  .user-quotes-wrapper {
    margin-top: 100px;
    width: 100%;
  }
  .user-quotes-subtitle {
    margin-left: 20px;
    font-size: 10px;
    line-height: 30px;
  }
  .user-quotes-title {
    margin-left: 20px;
    font-size: 18px;
    line-height: 25px;
  }
  .user-quotes-slider {
    height: 150px;
  }
  .each-user-quote {
    width: 266px;
    min-width: 266px;
    height: 100px;
    padding: 15px;
    margin-left: 50px;
  }
  .each-user-quote-text {
    font-size: 8px;
    line-height: 15px;
    color: rgb(3, 17, 73);
    width: 100%;
    text-align: center;
  }
  .each-user-quote-person-name {
    font-size: 8px;
    line-height: 10px;
  }
  .each-user-quote-person-position {
    font-size: 8px;
    line-height: 10px;
  }
  .each-user-quote-person-image {
    width: 27px;
    height: 27px;
    margin-left: 5px;
  }
  .footer-wrapper {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    padding-bottom: 200px;
  }
  .footer-logo {
    width: 84px;
    margin: 30px 20px;
    margin-bottom: 10px;
  }
  .copyright-text {
    display: none;
  }
  .footer-links-wrapper {
    margin: 30px 20px;
  }
  .each-footer-link {
    font-size: 8px;
    line-height: 10px;
    width: 50px;
    margin-right: 10px;
  }
  .each-logo {
    width: 50px;
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 450px) and (min-width: 400px) {
  .inside-product-background-circle {
    width: 37px;
    height: 37px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 7%;
  }
}

@media only screen and (max-width: 350px) and (min-width: 300px) {
  .inside-product-background-circle {
    width: 37px;
    height: 37px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: -10px;
  }
  .inside-product-gif {
    width: 280px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .each-logo {
    margin: 0px 10px;
  }
}
@media only screen and (max-width: 350px) and (min-width: 300px) {
  .each-logo {
    width: 30px;
    margin: 0px 10px;
  }
}
