
.all-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(254, 254, 254);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  .all-header {
    width: 100vw;
    height: 80px;
    min-height: 80px;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(254, 254, 254);
    border-bottom: 1px solid transparent;
  }
  .all-header-content {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .all-header-logo {
    height: 30px;
    width: auto;
    margin-right: 15px;
  }
  .all-header-logo-text {
    color: rgb(3, 17, 73);
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .all-header-each-button {
    color: rgb(24, 25, 31);
    font-weight: 700;
    font-size: 14px;
    margin: 0px 10px;
    text-decoration: none;
  }
  .all-header-login-button {
    color: rgb(3, 17, 73);
    font-weight: 700;
    font-size: 14px;
    margin-right: 15px;
    text-decoration: none;
  }
  .all-header-each-button:hover, .all-header-login-button:hover {
    text-decoration: underline;
  }
  .all-header-register-button {
    color: rgb(254, 254, 254);
    font-weight: 700;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: rgb(46, 197, 206);
    text-decoration: none;
  }
  .all-header-register-button:hover {
    box-shadow: 0 0 10px rgb(236, 236, 236);
  }

  .all-inner-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
  }

  .all-inner-wraper-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }

  .company_logo {
    max-width: 150px;
    margin-bottom: 50px;
  }

  .header-headline {
    color: rgb(3, 17, 73);
    font: 900 36px "manrope";
    max-width: 500px;
    margin-bottom: 20px;
  }

  .header-description {
    color: rgb(3, 17, 73);
    font: 500 18px "manrope";
    max-width: 500px;
    margin-bottom: 50px;
  }

  .main_company_image {
    max-width: 500px;
  }

  .try-now-button {
    width: 196px;
    height: 62px;
    border-radius: 15px;
    background-color: rgb(46, 197, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font: 600 20px "manrope";
  }

  .company-profile-card-section {
    height: auto;
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
  }

  .company-profile-card {
    width: 480px;
    height: 250px;
    border-radius: 20px;
    box-shadow: rgba(24, 25, 31, 0.185) 0px 0px 5px 5px;
    padding: 40px 0 0 30px;
    display: flex;
    flex-direction: column;
  }

  .company_name_title {
    font: 600 36px "manrope";
    color: rgb(3, 17, 73);
  }

  .each_company_information {
    margin: 10px 20px 10px 0;
  }

  .each-company-information-title {
    color: rgb(196, 196, 196);
    font: 600 14px "manrope";
  }

  .each-company-information-content {
    color: rgb(3, 17, 73);
    font: 600 14px "manrope";
  }

  .company-information-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .company-personal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .personal-quote {
    font: 600 48px "manrope";
    color: rgb(3, 17, 73);
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;
  }

  .personal-text-type-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: end;
  }

  .personal-informations {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .personal_photo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 50px;
  }
  .paragraphs-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .each-paragraph {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .each-paragraph-title {
    width: 50%;
    color: rgb(3, 17, 73);
    font: bold 36px "manrope";
    margin-bottom: 50px;
  }
  .each-paragraph-content {
    width: 75%;
    color: rgb(3, 17, 73);
    font: 18px "manrope";
    line-height: 32px;
  }

  .personal-name {
    font: 600 24px "manrope";
    color: rgba(3, 17, 73, 0.8);
  }
  .personal-role {
    font: 600 24px "manrope";
    color: rgba(3, 17, 73, 0.3);
  }

  @media only screen and (max-width: 1020px) and (min-width: 800px) {
    .header-headline {
      font: 600 36px "manrope";
    }
  }

  @media only screen and (max-width: 420px) and (min-width: 300px) {

    .all-inner-wrapper {
      width: 80%;
      margin-left: 10%;
      margin-top: 50px;
    }

    .all-inner-wraper-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
    .header-headline {
      font: 600 24px "manrope";
    }
    .company_logo {
      width: 200px;
    }
    .main_company_image {
      width: 300px;
      margin-top: 50px;
    }
    .each-company-information-title {
      color: rgb(196, 196, 196);
      font: 600 9px "manrope";
    }

    .company-profile-card {
      width: 300px;
      height: 180px;
      padding: 20px 0 40px 20px;
    }

    .company-profile-card-section {
      margin-bottom: 75px
    }

    .personal-quote {
      font: 600 20px "manrope";
      margin-bottom: 50px;
    }
  
    .each-company-information-content {
      color: rgb(3, 17, 73);
      font: 600 9px "manrope";
    }
    .each_company_information {
      margin: 5px 20px 0 0;
    }
    .company_name_title {
      font: 600 24px "manrope";
      color: rgb(3, 17, 73);
    }
    .company-information-content {
      flex-direction: column;
      padding-bottom: 20px
    }

    .personal-name {
      font-size: 600 14px "manrope";
    }
    .personal-role {
      font-size: 600 10px "manrope";
    }
    .personal_photo {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    .each-paragraph-content {
      font-size: 14px;
      line-height: 20px;
      width: 100%;
    }
    .each-paragraph-title {
      font-size: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
  }