extends ../partials/header
block main
    .start-content-wrapper
        span.start-title Ücretlendirme
    .pricings-content
        .each-pricing
            .pricing-title(style="color=#031149") Ücretsiz
            .pricing-description Yeni başlayan girişim ve küçük şirketler için
            .prices-per-month-content
                .prices-per-month-content-price 0 TL
                span /ay
            a(href="https://app.usersmagic.com/auth/register", target="_blank", style="text-decoration:none; color:rgb(255, 255, 255)")
                .get-monthly-button Aylık başlayın
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Anket başı 10 soru
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Anket başı 20 cevap sınırı
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text 3 bedava template
        .each-pricing
            .pricing-title(style="color:#2EC5CE") Başlangıç
            .pricing-description Geri bildirim arayan girişim ve küçük şirketler için
            .prices-per-month-content
                .prices-per-month-content-price 200 TL
                span /ay
            a(href="https://app.usersmagic.com/auth/register", target="_blank", style="text-decoration:none; color:rgb(255, 255, 255)")
                .get-monthly-button Aylık başlayın
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Genel tester filtreleme
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Sınırsız soru
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Sınırsız cevap
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Sınırsız template
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Aylık bedava 10 tester cevabı
        .each-pricing
            .pricing-title(style="color:#FED355") Profesyönel
            .pricing-description Hızla büyüyen girişim ve küçük şirketler için
            .prices-per-month-content
                .prices-per-month-content-price 350 TL
                span /ay
            a(href="https://app.usersmagic.com/auth/register", target="_blank", style="text-decoration:none; color:rgb(255, 255, 255)")
                .get-monthly-button Aylık başlayın
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Detaylı tester filtreleme 
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Tester personası görüntüleme
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Aylık pazar araştırması
            .each-pricing-privilege
                .icon-background-div
                    i(class="fas fa-check")
                span.each-pricing-privilege-text Sonuçları PDF, CSV indirme
            .each-pricing-privilege
                    .icon-background-div
                        i(class="fas fa-check")
                    span(style="color:#2ce5ce; font-size:14px;") Başlangıç
                      span.each-pricing-privilege-text(style="color:initial") ’ta yer alan her şey