extends ../partials/head
block content
    .all-wrapper
        .all-header
            a.all-header-content(href="/company")
                img.all-header-logo(src="/res/images/logo/dark_blue_small.png" alt="usersmagic, best way of testing")
                svg(width="107" height="21" viewBox="0 0 107 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 12.6017V4.93177H2.64318V12.1782C2.64318 13.4086 3.22565 14.0238 4.39061 14.0238C5.37935 14.0238 6.13315 13.6002 6.65199 12.753V4.93177H9.32454V12.9799L9.50075 16.1569H7.13658L6.88694 14.6743C6.10378 15.8442 4.92414 16.4292 3.34802 16.4292C2.22223 16.4292 1.38033 16.0711 0.822321 15.3551C0.274107 14.6289 0 13.7111 0 12.6017ZM15.9031 14.2961C16.5199 14.2961 16.9897 14.17 17.3128 13.9179C17.6261 13.6557 17.7827 13.3128 17.7827 12.8892C17.7827 12.4152 17.631 12.0773 17.3275 11.8756C17.024 11.6638 16.4807 11.5226 15.6975 11.452C14.1899 11.331 13.118 11.0335 12.4817 10.5594C11.8356 10.0854 11.5125 9.35423 11.5125 8.36586V8.19945C11.5125 7.03963 11.9139 6.15715 12.7166 5.55203C13.5194 4.95699 14.5815 4.65947 15.9031 4.65947C18.8498 4.65947 20.3231 5.93527 20.3231 8.48689V8.59278H17.724C17.724 7.39262 17.117 6.79253 15.9031 6.79253C15.3451 6.79253 14.9144 6.91356 14.6109 7.15561C14.2976 7.39766 14.141 7.72039 14.141 8.12381C14.141 8.56757 14.2829 8.8903 14.5668 9.09201C14.8409 9.29372 15.3647 9.42483 16.1381 9.48534C17.6163 9.61645 18.7029 9.90389 19.398 10.3476C20.1028 10.8015 20.4552 11.568 20.4552 12.6471V12.7833C20.4552 13.9128 20.0686 14.8054 19.2952 15.461C18.5218 16.1064 17.3911 16.4292 15.9031 16.4292C14.4151 16.4292 13.2844 16.0863 12.511 15.4004C11.7475 14.7046 11.3657 13.812 11.3657 12.7228V12.6471H14.0235C14.0235 13.7464 14.65 14.2961 15.9031 14.2961ZM31.9237 10.272V11.5579H24.7284C24.8263 13.3834 25.6437 14.2961 27.1807 14.2961C27.8659 14.2961 28.4044 14.1246 28.7959 13.7817C29.1973 13.4287 29.398 13.0203 29.398 12.5564H31.9237V12.6471C31.9237 13.7061 31.5027 14.5987 30.6608 15.3248C29.8189 16.061 28.6491 16.4292 27.1513 16.4292C25.4675 16.4292 24.1997 15.9148 23.3481 14.8861C22.4866 13.8574 22.0558 12.5009 22.0558 10.8166V10.272C22.0558 8.58774 22.4817 7.23125 23.3334 6.20254C24.1851 5.17382 25.4234 4.65947 27.0485 4.65947C28.654 4.65947 29.8679 5.17382 30.6902 6.20254C31.5125 7.23125 31.9237 8.58774 31.9237 10.272ZM26.9898 6.79253C25.5899 6.79253 24.8361 7.70527 24.7284 9.53073H29.2365C29.1484 7.70527 28.3995 6.79253 26.9898 6.79253ZM39.2218 4.65947C39.261 4.65947 39.3197 4.66451 39.398 4.6746C39.4763 4.6746 39.5204 4.6746 39.5302 4.6746V7.35228H39.075C37.9002 7.35228 37.0583 7.74561 36.5493 8.53227V16.1569H33.8767V8.10868L33.6858 4.93177H36.05L36.2849 6.29331C37.0094 5.20408 37.9883 4.65947 39.2218 4.65947ZM45.6535 14.2961C46.2703 14.2961 46.7353 14.17 47.0485 13.9179C47.3716 13.6557 47.5331 13.3128 47.5331 12.8892C47.5331 12.4152 47.3814 12.0773 47.0779 11.8756C46.7744 11.6638 46.2311 11.5226 45.4479 11.452C43.9404 11.331 42.8635 11.0335 42.2174 10.5594C41.5811 10.0854 41.2629 9.35423 41.2629 8.36586V8.19945C41.2629 7.03963 41.6594 6.15715 42.4523 5.55203C43.2551 4.95699 44.3221 4.65947 45.6535 4.65947C48.6002 4.65947 50.0735 5.93527 50.0735 8.48689V8.59278H47.4597C47.4597 7.39262 46.8576 6.79253 45.6535 6.79253C45.0955 6.79253 44.6599 6.91356 44.3466 7.15561C44.0432 7.39766 43.8914 7.72039 43.8914 8.12381C43.8914 8.56757 44.0334 8.8903 44.3173 9.09201C44.5914 9.29372 45.1151 9.42483 45.8885 9.48534C47.3667 9.61645 48.4533 9.90389 49.1484 10.3476C49.8532 10.8015 50.2057 11.568 50.2057 12.6471V12.7833C50.2057 13.9128 49.819 14.8054 49.0456 15.461C48.2624 16.1064 47.1317 16.4292 45.6535 16.4292C44.1655 16.4292 43.0348 16.0863 42.2615 15.4004C41.4979 14.7046 41.1161 13.812 41.1161 12.7228V12.6471H43.7593C43.7593 13.7464 44.3907 14.2961 45.6535 14.2961ZM67.3716 8.30535V16.1569H64.6991V8.72894C64.6991 7.60945 64.1851 7.04971 63.1572 7.04971C62.3349 7.04971 61.6594 7.45313 61.1308 8.25996V16.1569H58.4876V8.72894C58.4876 7.60945 57.9639 7.04971 56.9164 7.04971C56.0843 7.04971 55.4235 7.45313 54.934 8.25996V16.1569H52.2615V8.10868L52.0706 4.93177H54.4347L54.655 6.32356C55.4284 5.21417 56.5346 4.65947 57.9737 4.65947C59.354 4.65947 60.2938 5.24946 60.7931 6.42946C61.5273 5.24946 62.658 4.65947 64.1851 4.65947C65.2326 4.65947 66.0256 4.99229 66.564 5.65792C67.1024 6.31348 67.3716 7.19595 67.3716 8.30535ZM78.5317 16.1569H76.1675L75.9619 14.871C75.0809 15.9098 73.8964 16.4292 72.4083 16.4292C71.3119 16.4292 70.4896 16.1216 69.9414 15.5063C69.3932 14.881 69.1191 14.0893 69.1191 13.1312V12.9194C69.1191 11.7899 69.4519 10.9679 70.1176 10.4535C70.7735 9.93919 71.7084 9.5862 72.9223 9.39458L75.6976 8.95586V8.91047C75.6976 8.17424 75.5606 7.63971 75.2865 7.30689C75.0221 6.96399 74.5523 6.79253 73.8768 6.79253C72.6727 6.79253 72.0706 7.40775 72.0706 8.63817H69.5302V8.4415C69.5302 7.36236 69.868 6.45972 70.5434 5.73357C71.2189 5.0175 72.3545 4.65947 73.9502 4.65947C75.5655 4.65947 76.706 5.0175 77.3716 5.73357C78.0373 6.45972 78.3702 7.51869 78.3702 8.91047V12.9799L78.5317 16.1569ZM73.3335 14.1599C74.3418 14.1599 75.1298 13.7717 75.6976 12.9951V10.6351L73.4069 11.0133C72.33 11.1948 71.7916 11.7294 71.7916 12.6169V12.7833C71.7916 13.1665 71.9189 13.4943 72.1734 13.7666C72.4377 14.0288 72.8244 14.1599 73.3335 14.1599ZM87.2101 15.9904V14.4171C86.5053 15.2845 85.5361 15.7181 84.3026 15.7181C82.9027 15.7181 81.8748 15.2492 81.2189 14.3112C80.5532 13.3834 80.2204 12.0975 80.2204 10.4535V9.90893C80.2204 8.32552 80.5532 7.05476 81.2189 6.09664C81.8944 5.13852 82.9223 4.65947 84.3026 4.65947C85.7123 4.65947 86.7598 5.20912 87.4451 6.30843L87.68 4.93177H90.0442L89.8827 8.10868V16.0358C89.8827 19.122 88.2821 20.665 85.0809 20.665C83.4363 20.665 82.2517 20.2919 81.5273 19.5456C80.7931 18.7992 80.426 17.8058 80.426 16.5653V16.1569H82.9517C82.9517 16.8931 83.1083 17.4528 83.4216 17.8361C83.7348 18.2092 84.2684 18.3958 85.0222 18.3958C85.7955 18.3958 86.3535 18.2092 86.6962 17.8361C87.0388 17.4528 87.2101 16.8376 87.2101 15.9904ZM87.2101 12.042V8.3356C86.6717 7.47834 85.9522 7.04971 85.0515 7.04971C84.3467 7.04971 83.8083 7.30689 83.4363 7.82125C83.0741 8.3356 82.8929 9.0315 82.8929 9.90893V10.4535C82.8929 12.3597 83.6125 13.3128 85.0515 13.3128C85.9424 13.3128 86.6619 12.8892 87.2101 12.042ZM94.9488 16.1569H92.2762V4.93177H94.9488V16.1569ZM92.1587 0H95.0809V2.98024H92.1587V0ZM99.6037 10.2115V10.8771C99.6037 12.9749 100.338 14.0238 101.806 14.0238C102.443 14.0238 102.922 13.8422 103.245 13.4792C103.568 13.1161 103.73 12.6471 103.73 12.0723H106.256V12.511C106.256 13.6607 105.869 14.5987 105.096 15.3248C104.322 16.061 103.201 16.4292 101.733 16.4292C100.137 16.4292 98.938 15.9249 98.1353 14.9163C97.3325 13.9078 96.9311 12.5614 96.9311 10.8771V10.2115C96.9311 8.51714 97.3325 7.1657 98.1353 6.15715C98.938 5.1587 100.137 4.65947 101.733 4.65947C103.221 4.65947 104.347 5.03767 105.11 5.79408C105.874 6.56057 106.256 7.5439 106.256 8.74406V9.21304H103.73C103.73 8.53731 103.568 8.00783 103.245 7.62458C102.922 7.24134 102.443 7.04971 101.806 7.04971C100.338 7.04971 99.6037 8.10364 99.6037 10.2115Z" fill="#031149")
            .all-header-content
                a.all-header-each-button(href="/templates") Templates
                a.all-header-each-button(href="/pricing") Pricing
                a.all-header-each-button(href="/resources") Resources
                a.all-header-each-button(href="/tester") Tester
            .all-header-content
                a.all-header-login-button(target="_blank" href="https://app.usersmagic.com/auth/login") Login
                a.all-header-register-button(target="_blank" href="https://app.usersmagic.com/auth/register") Register
        .all-inner-wrapper
            .start-content-wrapper
                span.start-title Ücretlendirme
            .pricings-content
                .each-pricing
                    .pricing-title(style="color=#031149") Ücretsiz
                    .pricing-description Yeni başlayan girişim ve küçük şirketler için
                    .prices-per-month-content
                        .prices-per-month-content-price 0 TL
                        span /ay
                    a(href="https://app.usersmagic.com/auth/register", target="_blank", style="text-decoration:none; color:rgb(255, 255, 255)")
                        .get-monthly-button Aylık başlayın
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Anket başı 10 soru
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Anket başı 20 cevap sınırı
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text 3 bedava template
                .each-pricing
                    .pricing-title(style="color:#2EC5CE") Başlangıç
                    .pricing-description Geri bildirim arayan girişim ve küçük şirketler için
                    .prices-per-month-content
                        .prices-per-month-content-price 200 TL
                        span /ay
                    a(href="https://app.usersmagic.com/auth/register", target="_blank", style="text-decoration:none; color:rgb(255, 255, 255)")
                        .get-monthly-button Aylık başlayın
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Genel tester filtreleme
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Sınırsız soru
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Sınırsız cevap
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Sınırsız template
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Aylık bedava 10 tester cevabı
                .each-pricing
                    .pricing-title(style="color:#FED355") Profesyonel
                    .pricing-description Hızla büyüyen girişim ve küçük şirketler için
                    .prices-per-month-content
                        .prices-per-month-content-price 350 TL
                        span /ay
                    a(href="https://app.usersmagic.com/auth/register", target="_blank", style="text-decoration:none; color:rgb(255, 255, 255)")
                        .get-monthly-button Aylık başlayın
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Detaylı tester filtreleme 
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Tester personası görüntüleme
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Aylık pazar araştırması
                    .each-pricing-privilege
                        .icon-background-div
                            i(class="fas fa-check")
                        span.each-pricing-privilege-text Sonuçları PDF, CSV indirme
                    .each-pricing-privilege
                            .icon-background-div
                                i(class="fas fa-check")
                            span.each-pricing-privilege-text(style="color:#2ce5ce") Başlangıç'
                                span(style="color: #031149;") ta yer alan her şey
                                