
.electronics-report-people-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 200px;
}

.each-person {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.each-person-photo {
  width: 95px;
  height: 95px;
}

.each-person-text-content {
  margin-left: 50px;
}

.each-person-text-content-name {
  font: 500 24px "manrope";
  color: rgb(3, 17, 73, 0.7);
}

.each-person-text-content-duty {
  font: 500 24px "manrope";
  color: rgb(196, 196, 196);
}

.electronics-report-description-text {
  width: 100%;
  font: 500 24px "manrope";
  line-height: 40px;
  padding: 0 120px;
  margin-bottom: 300px;
}

.electronics-report-consumer-wrapper {
  width: 100%;
}
@media only screen and (min-width: 300px) and (max-width: 450px) {

  .each-person-photo {
    width: 40px;
    height: 40px;
  }

  .electronics-report-people-wrapper {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .each-person {
    margin: 0;
  }

  .each-person-text-content {
    margin-left: 10px;
    width: 100px;
  }

  .each-person-text-content-duty, .each-person-text-content-name {
    font-size: 12px;
  }
  .electronics-report-description-text {
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}