.all-content-header-wrapper {
  height: 100px;
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.header-user-logo {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 30px;
}
.header-user-logo img {
  height: 100%;
}

.general-settings-button {
  margin-top: auto;
  color: rgba(196, 196, 196, 0.8);
  font-size: 22px;
}
.general-settings-button:hover {
  color: rgba(196, 196, 196, 1);
}

.header-each-step-text {
  color: rgba(78, 75, 102, 1);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.header-each-step-text:hover {
  text-decoration: underline;
}
.header-each-step-arrow {
  margin: 0px 15px;
  color: rgba(78, 75, 102, 1);
}

.header-credit-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header-credit-amount {
  font-weight: 600;
  color: rgb(46, 197, 206);
  font-size: 16px;
}
.header-get-credit-button {
  font-weight: 500;
  font-size: 14px;
  color: rgba(78, 75, 102, 1);
  cursor: pointer;
}
.header-get-credit-button:hover {
  text-decoration: underline;
}

.all-content-inner-wrapper {
  display: flex;
  height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
}
